name: release-please

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    release-please:
        permissions:
            id-token: write
            contents: write
        runs-on: ubuntu-latest
        steps:
            - uses: googleapis/release-please-action@v4
              id: release
              with:
                token: ${{ secrets.ACTIOPNS_TOKEN }}
                path: /CHANGELOG.md
            - name: Release Please Results
              env:
                  RESULTS: ${{ toJSON(steps.release.outputs) }}
              run: echo "$RESULTS"
